body a{
    color: #bf9448;
}
header{
    font-family: Verdana, Geneva, Tahoma, Arial;
    /*background-color: #333;*/
    color: #bf9448;
    text-align: center;
    background-color: #fff;
}
header #logo{
    width: 20%;
}
header a{
    text-decoration: none;
    font-size: large;
}
body{
    font-family: Verdana, Geneva, Tahoma, Arial;
    /*background-color: #333;*/
    background-color: #fff;
    color: #bf9448;
    text-align: center;
    
}
footer{
    background-color: #fff;
    bottom: 0;
    width: 100%;
    border: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
footer a{
    color: #bf9448;
}
footer p{
    color: #bf9448;
}

#left-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
#main{
    display: flex;
    flex-direction: column;
}
#full-image{
    width: 80%; 
    text-align: center;
    clip-path: inset(15% 0px 15% 0 round 50px);
    margin: 0 auto;
    overflow: hidden;
}
#full-text{
    width: 80%; 
    text-align: center;
    margin: 0 auto;
}
#left{
    width: 23%; 
    text-align: left;
    padding-left: 25%;
}
#right{
    width: 48%; 
    text-align: left;
}
#footer-left{
    width: 43%; 
    text-align: left;
    padding-left: 5%;
}
img{
    width: 50%;
}

.image-container {
    overflow: hidden;
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 600px;
    border-radius: 50px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 35%;
}

